$color-background: #ecd8bc;
$color-header: #34848f;
$color-footer: #368f8b;
$color-menu: #3a2f59;
$color-light: #160f29;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh !important;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 50px;
    grid-template-areas: 
    "cabecera"
    "principal"
    "pie";

}

header{
    background-color: $color-header;
    grid-area: cabecera;
    
    .toolbar{
        background-color: #c2ebe9;
        display: flex;
        justify-content: space-between;
    }
    .page-title{
        font-size: 2rem;
    }

}
.page-container{
     grid-area: principal;
     display: grid;
     grid-template-columns: 150px 1fr;
     grid-template-areas:
     "menu contenido";

 }

nav{
    background-color: $color-menu;
    grid-area: menu;
    color:white;

    .menu-container ul li{
        padding-left: 6px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid black;
        background-color: #f3dfc1;
        color: black

    }
    .menu-container ul li:hover{
        background-color: #246a73;
        color: white;
        cursor: pointer;

    }
    .menu-title{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:19px;

    }

}
main{
    background-color: $color-background;
    grid-area: contenido;
    
    .list{
        display: flex;
        align-items: center;
        overflow: auto;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-around;
       /* display: grid;
        grid-template-columns: repeat(4, minmax(350px, 1fr));
        grid-auto-rows: 200px;
        grid-gap: 10px;
        margin-top: 22px;
        place-items: center;*/
        
        .card{
            width: 320px;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            border: 1px solid black;
            border-radius: 4px;
            img{
                border-radius: 50%;
            }
            .member-name{
                text-align: center;
            }         
        }
    }



    
}
footer{
    grid-area: pie;
    background-color: $color-footer;
    font-size: 1rem;
    display: flex;
    align-items: center;
}