@use './colors.scss' as c;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh !important;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 50px;
    grid-template-areas: 
    "cabecera"
    "principal"
    "pie";

}

header{
    background-color: c.$color-header;
    grid-area: cabecera;
    
    .toolbar{
        background-color: #c2ebe9;
        display: flex;
        justify-content: space-between;
    }
    .page-title{
        font-size: 2rem;
    }

}
.page-container{
     grid-area: principal;
     display: grid;
     grid-template-columns: 150px 1fr;
     grid-template-areas:
     "menu contenido";

 }

nav{
    background-color: c.$color-menu;
    grid-area: menu;
    color:white;
    .menu-container{
        position: sticky;
        top: 0;
    }

    .menu-container ul li{
        padding-left: 6px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid black;
        background-color: c.$color-light;
        color: black

    }
    .menu-container ul li:hover{
        background-color: c.$color-hover;
        color: white;
        cursor: pointer;

    }
    .menu-title{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:19px;

    }

}
main{
    background-color: c.$color-background;
    grid-area: contenido;
    padding: 15px;
    
    .list{
        display: flex;
        align-items: center;
        overflow: auto;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-around;
        
        .card{
            width: 300px;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            border: 1px solid black;
            border-radius: 4px;
            img{
                border-radius: 50%;
            }
            .member-name{
                text-align: center;
            }         
        }
    }



    
}
footer{
    grid-area: pie;
    background-color: c.$color-footer;
    font-size: 1rem;
    display: flex;
    align-items: center;
}